body{
background:#cfe9ff;
font-family:arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
color:black;
}

.tela{
width:450px;
background:white;
}

.topo{
padding:10px;
}

.banner{
margin:10px;
padding:10px;
}

.menu{
display:grid;
grid-template-columns:repeat(4,1fr);
padding:10px;
gap:10px;
}

.item{
text-align:center;
font-size:12px;
}

.item p:first-child{
font-size:22px;
}

.contato{
padding:10px;
}